.eslintrc.json
node_modules
.next
out
dist
build
.env*.local
.env
.DS_Store
*.txt
*.js
*.mjs
!next.config.js
!tailwind.config.ts
!postcss.config.mjs
!src/**/*.js
!src/**/*.mjs
!supabase/**/*.js
!supabase/**/*.mjs
.vercel
